* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    clear: both;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 200px;
    /* margin: 50px; */
    border: 1px solid #fff;
    /* padding: 1px; */
    background-color: #555;
    color: #444;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 60px;
    left: 150px;
    color: #fff;
}

footer {
    border-top: #444;
    margin-top: 1px;
    text-align: center;
}

/* class selector */
box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: aquamarine;
    color: azure;
}